body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #100a1d;
  height: 100%;
}

#questionsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

#scoreCounter {
  position: sticky;

  bottom: -12rem;
  height: 12rem;

  float: right;
  width: 100%;
  background: #453472;
  z-index: 100;
  transition: bottom 300ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#scoreCounter > .counter-header{
  height: 4rem;
  background: blue;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

#scoreCounter > .counter-header > .score{
  height: 3rem;
  background: red;
  display: flex;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
#scoreCounter > .counter-header > .toggle-btn{
  height: 3rem;
  width:  3rem;
  background: red;
}

.skeleton {
  background: linear-gradient(150deg, grey, rgb(177, 177, 177));
  mix-blend-mode: color-dodge;
  border-radius: 1rem;
  height: 100%;
  width: 24rem;
  min-height: 56rem;
  height: auto;
}

.poster-container {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

.poster-container img {
  width: 100%;
  height: auto;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, white);
  width: 100%;
  height: 8rem;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 1rem 1rem 0 0;
}

.question-container {
  box-shadow: 0 0 1rem 0.25rem #453472;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 24rem;
  border-radius: 1rem;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
}

.question-container > form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  background: white;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}

.question-container > form > .answers-container {
  padding: 1rem;
}

.question-container > p {
  font-size: 22px;
  padding: 0 32px;
  text-align: center;
  font-weight: 600;
}

.answers-container {
  width: auto;
  padding: 1rem;
  gap: 22px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.submit-question-btn {
  outline: none;
  border: none;
  z-index: 2;
  text-transform: capitalize;
  margin-top: 1rem;
  font-size: 2rem;
  background: #302350;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

button:disabled {
  background: #9b9b9b;
}

label {
  margin: 0;
  padding: 0;
  display: flex;
}
input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

input[type='radio'] + span {
  padding: 12px 32px;
  color: #100a1d;
  border-radius: 500px;
  text-align: center;
  background: #fafffb;
  border: none;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 2px 1px rgba(17, 10, 30, 0.5));
  display: block;
}

input[type='radio']:checked + span {
  background: hsl(259, 49%, 39%);
  color: white;
  transform: scale(1.05);
  transition: transform 150ms ease-in-out;
}
input[type='radio']:hover:not(:checked, :disabled) + span {
  transition: all 100ms ease-in-out;
  background: hsl(259, 20%, 90%);
  filter: none;
}

input[type='radio']:disabled + span {
  transition: all 100ms ease-in-out;
  background: hsl(263, 8%, 81%);
  filter: none;
}

input[type='radio']:disabled + .wrong-answer {
  background: rgb(199, 127, 127);
}

input[type='radio']:disabled + .correct-answer {
  background: rgb(135, 199, 127);
}

.correct-block {
  outline: rgb(135, 199, 127) solid 0.5rem;
}

.wrong-block {
  outline: rgb(199, 127, 127) solid 0.5rem;
}
