body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #100a1d;
}

#questionsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.poster-container{
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
}

.poster-container img{
    width: 100% ;
    height: auto;
}

.bottom-gradient{
    position: absolute;
    bottom: 0;
    background: linear-gradient( transparent, white);
    width: 100%;
    height: 8rem;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    box-shadow: 0 0 1rem 0.25rem #302350;
    border-radius: 1rem;
}

.question{
    background: white;
    width: 24rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-align: center;
}

.question p{
    font-size: 22px;
    padding: 0 32px;
    text-align: center;
    font-weight: 600;
}

.question form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    padding-bottom:1rem ;
}
.submit-btn{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    background: white;
}

.score{
    color: white;
    font-size: 2rem;
}
.questions-container{
    width : auto;
    padding : 10px;
    margin : 10px ;
    gap: 22px;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
label{
    margin: 0;
    padding: 0;
}
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
  }


input[type="radio"] + span {
    padding: 12px 32px;
    color: #100a1d;
    border-radius : 500px;
    text-align: center;
    background: #fafffb;
    border: none;
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(0 2px 1px rgba(17, 10, 30, 0.5));
    display: block;
  }

input[type="radio"]:checked + span {
    background: hsl(259, 49%, 39%);
    color: white;
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
    
  }
input[type="radio"]:hover:not(:checked) + span {
    transition: all 100ms ease-in-out;
    background: hsl(259, 20%,90%);
    filter: none;
  }
